@font-face {
    font-family: Rubik;
    src: url("/assets/fonts/Rubik.ttf");
    font-display: swap;
}


*{
    font-family: Rubik, sans-serif;
    color: var(--light-blue);
}

:root{
    --padding: 0.6rem 1.25rem;
}